@charset "UTF-8";
body {
    background-color: #55553e;
}
/* ===================menu - nav ====================================== */
body nav {
	background-color: #faf9f8; 
 
  padding: 10px;
  max-width:980px;
	margin:auto;
	text-align: center;
  /* position: fixed; */
} 
body nav > a {
color:#1b455e;
padding: 0.5%;
border-radius: 5px;
text-decoration: none;
transition-duration: .5s;
font-size:20px;
}
body nav > a:hover{
    background-color: #2fa866;
    color: #121401;
	}
/* ==============================header========================================== */
p{
  font-size: 25px;
  color:white;
  text-align: justify;
  margin: 10%;
  padding-top: -50px;
  

}

header {
   min-width: 100px;
   max-width:1000px;  
   margin:auto;
   text-align: center;
   padding-top: 1px; 
   margin-bottom:-5px;
}
header img {
  width:100%
} 

footer h6{
  background-color: cadetblue;
 padding: 10px 10px 10px 10px;
 font-size: 15px;
 
}
.zz h1{
  font-size: 30px;
  color: #1b455e;

  
}
.conta h1{
color: #1b455e;
font-size: 30px;
}
.conta h2{
  color: #1b455e;
font-size: 20px;
}
.conta1 h1{
  color: #1b455e;
  font-size: 30px;
  }
 .conta1  h5{
  background-color: #1b455e;
  width: 500px;
  text-align: center;
  border-radius: 20px;
  color: #f4f8f6;
  font-size: large;
 }
/* ======================================main============================================== */
main h1 {
   	text-align:center;
    font-size: 20px;
    color: #1b455e;
	}
main h2{
    color: aliceblue;
    font-size: 30px;
  }
  main h3{
    color: aliceblue;
    font-size: 40px;
  }
  .col-4{
    width: 410px;
    height: 300px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-color: #121401;
  }
  .espa{
    height: 100px;
  }
  .espa1{
    height: 30px;
  }
    .dd{
    background-color: rgb(46, 66, 104);
    padding-top: 20px;
    padding-bottom: 30px;
  }
.col-5{
    width: 410px;
    height: 300px;
  }
 .col-6 {
    width: 250px;
    height: 300px;
  }
  .col-7{
    width: 60%;
    padding-left: 18%;
   }
 .col-8 {
    width: 45%;
    padding-left: auto;
   }
    .hidden-sm {
      display: none;
    }
    

    /* =============================row=================================== */
    .row {
      position: relative;
      width: 100%;
    }
    .row [class^="col"] {
      float: left;
      margin: 0.5rem 2%;
      min-height: 0.125rem;
    }

    .row::after {
      content: "";
      display: table;
      clear: both;
  }
  .container {
    margin-top: 20px;
    margin-bottom: -80px;
 } 
/* ===============================responsivo =====================================*/

@media only screen and (min-width: 33.75em) { 
  .container {
    width: 100%;
  }
}
@media only screen and (min-width: 33.75em) { 
  .conta1 {
    width: 100%;
  }
}

@media only screen and (min-width: 45em) { 
  .col-4 {
    width: 29.33%;
  }
  .hidden-sm {
    display: block;
  }
}